.home{
	padding: 0;
	background: #fff;
	font-size: 24px;
	img{
		width: 100%;
		display: block;
	}
	.banner {
		position: relative;
		/deep/.swiper{
			height: 360px;
		}
	}
	
	.container {
		padding: 0 30px;
	}
	
	.nav {
		margin: 0 auto;
		margin-top: 22px;
		padding-bottom: 20px;
		border-bottom: 1px solid #c0c4cc;
	
		ul {
			display: -ms-flexbox;
			display: flex;
			-ms-flex-align: center;
			align-items: center;
			-ms-flex-pack: distribute;
			justify-content: space-around;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
	
			li {
				width: 25%;
				text-align: center;
				margin-top: 40px;
	
				img {
					width: 60%;
					margin: 0 auto;
				}
	
				p {
					text-align: center;
					font-size: 24px;
					font-weight: bolder;
					color: #555;
					margin-top: 5px;
				}
			}
		}
	}
	
	.redian {
	  margin-top: 10px;
	  .news {
	    font-size: 25px;
	    width: 100%;
	    border-bottom: 1px solid #dcdfe6;
	    padding-bottom: 10px;
	    margin: 10px auto;
	
	    span {
	      &:first-child {
	        color: #0084ff;
	      }
	    }
	  }
	}
	
	.redian>p {
	  font-size: 32px;
	  border-left: 4px solid #ff0000;
	  padding-left: 20px;
	  height: 40px;
	  line-height: 40px;
	}
}

